@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="Identity" asp-page="/Account/Login">
        Please login first.
    </a>
</div>
