@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<head>
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="FormReqDbs" asp-action="Index">FAREI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            </div>
        </div>
    </nav>
</header>
<h1>@ViewData["Title"]</h1>

@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    An email has been sent. Check your inbox.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

