@using FAREI_Project.ViewModel
@model RequestsViewModel

@{
    ViewData["Title"] = "Repair/Servicing Request Form";
}

<h2>Repair/Servicing Request Form</h2>
<hr />

<form asp-action="Create">
    <h4>Request Details</h4>
    <div class="row mb-3">
      
        <div class="col-md-3">
            <label asp-for="FormReqDbs.Site">Site:</label>
            <select asp-for="FormReqDbs.Site" class="form-control" required>
                <option>-- Select site --</option>
                <option> St Pierre </option>
                <option> Reduit </option>
                <option>Curepipe</option>
            </select>
        </div>
        <div class="col-md-3">
            <label asp-for="FormReqDbs.Department">Department:</label>
            <select asp-for="FormReqDbs.Department" class="form-control" required>
                <option>-- Select Department --</option>
                <option> IT Dept </option>
                <option> Finance Dept </option>
                <option>HR Dept </option>
                
            </select>
        </div>
        <div class="col-md-3">
            <label asp-for="FormReqDbs.ResponsibleOfficer">Responsible Officer:</label>
            <input asp-for="FormReqDbs.ResponsibleOfficer" class="form-control" required placeholder="Enter Name" oninvalid="this.setCustomValidity('Enter User Name Here')" />
        </div>
        <div class="col-md-3">
            <label asp-for="FormReqDbs.Supervisor">Supervisor:</label>
            <select asp-for="FormReqDbs.Supervisor" class="form-control" required >
                <option>-- Select Supervisor --</option>
                <option> Veerraj </option>
                <option> Ajesh </option>
            </select>
        </div>
    </div>
    <div class="form-group mb-4">
        <label asp-for="FormReqDbs.ContactPhone">Contact Phone:</label>
        <input asp-for="FormReqDbs.ContactPhone" class="form-control" maxlength="8" minlength="5" required />
    </div>

    <h4>Equipment Section</h4>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Equipment Type</th>
                <th>Serial Number</th>
                <th>Problem</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><select asp-for="FormReqDbs.EquipmentType" class="form-control" required>
                        <option>-- Select Equipment --</option>
                        <option> CPU </option>
                        <option> Monitor </option>
                        <option>Mouse</option>
                        <option>Key board</option>
                        <option>printer</option>
                        <option>Scanner</option>
                    </select>
                </td>
                <td><select asp-for="FormReqDbs.SerialNumber"  class="form-control" required >
                        <option>-- Select Serial number --</option>
                        <option>EWQ13R</option>
                        <option>VF23R1</option>
                        <option>RAV332</option>
                        <option>BN21E3</option>
                    </select>
                    </select></td>
                <td><input asp-for="FormReqDbs.ProblemDescription" class="form-control" required /></td>
            </tr>
        </tbody>
    </table>
    


    

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Cancel" class="btn btn-outline-secondary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
