}

/* Table Header */
.Brown-table-header th {
    background-color: #512902;
    color: white;
}

/* Details Button */
.btn-H {
    background-color: #794E2B;
    color: white;
    border: none;
}

    .btn-H:hover {
        background-color: #B0884C;
        color: white;
    }


.navbar {
    background-color: #512902 !important;
}

    .navbar a,
    .navbar-brand {
        color: white !important;
    }

        .navbar a:hover {
            color: #B0884C !important;
        }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3e5f5;
}


body {
    background-color: #fff2da;
    font-family: 'Segoe UI', sans-serif;
}

.R-textbox {
    border: 2px solid #B0884C;
}
