﻿.page-title {
    color: #5E2B97;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Table Header */
.B-table-header th {
    background-color: #1C2E4A;
    color: white;
}

/* Details Button */
.btn-B {
    background-color: #52677D;
    color: white;
    border: none;
}

    .btn-B:hover {
        background-color: #f8eabf;
        color: black;
    }


.navbar {
    background-color: #0F1A2B !important;
}

    .navbar a,
    .navbar-brand {
        color: white !important;
    }

        .navbar a:hover {
            color: #f8eabf !important;
        }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3e5f5;
}


body {
    background-color: #e3ebfd;
    font-family: 'Segoe UI', sans-serif;
}

.R-textbox {
    border: 2px solid #B0884C;
}
